<h1>Data Binding</h1>

<h2> String Interpolation </h2>
<h3>From TypeScript to HTML</h3>
<span> My name is {{ firstName }}</span> <!-- String Interpolation -->

<h2> Property Binding [propertyName] = valueFromTypeScript</h2>
<img [src]="imageThumbsUp" alt="Thumbs Up Image">
<p [innerText]="firstName"></p> <!-- Corrected Property Binding -->

<h2> can be called as Event Binding ()</h2>
<input type="text" (input)="passValueToComponent($event)"> <!-- Event Binding -->

<h2> Two-way Data Binding using [(ngModel)]</h2>
<input type="text" [(ngModel)]="firstName"> <!-- Two-way Data Binding -->
